@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");

.netflix-animation {
  font-family: "Oswald", sans-serif;
  font-size: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 0;
  margin: 0;
}

.netflix-animation .name {
  color: transparent;
  letter-spacing: 1.5vw;
  display: flex;
  perspective: 600px;
  animation: grow 1s ease forwards;
}

.netflix-animation .name[data-value="MERCI !"] {
  letter-spacing: 1.8vw;
  transform: translateX(-1vw);
}


.netflix-animation .container {
  transform-style: preserve-3d;
}

@media (min-width: 1024px) {
  .netflix-animation {
    font-size: 10vw;
  }
  
  .netflix-animation .name[data-value="MERCI !"] {
    font-size: 9vw;
    letter-spacing: 1.5vw;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
    color: transparent;
  }
  10% {
    color: white;
  }
  50% {
    transform: scale(1.1);
    color: white;
  }
  100% {
    transform: scale(0.9);
    color: white;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes grow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes long-shadow {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 10px 10px 100px #C2C1C2, 1px 1.5px #9CA5B4, 2px 3px #9CA5B4, 3px 4.5px #9CA5B4, 4px 6px #9CA5B4, 5px 7.5px #9CA5B4, 6px 9px #9CA5B4, 7px 10.5px #9CA5B4, 8px 12px #9CA5B4, 9px 13.5px #9CA5B4, 10px 15px #9CA5B4, 11px 16.5px #9CA5B4, 12px 18px #9CA5B4, 13px 19.5px #9CA5B4, 14px 21px #9CA5B4, 15px 22.5px #9CA5B4, 16px 24px #9CA5B4, 17px 25.5px #9CA5B4, 18px 27px #9CA5B4, 19px 28.5px #9CA5B4, 20px 30px #9CA5B4, 21px 31.5px #9CA5B4, 22px 33px #9CA5B4, 23px 34.5px #9CA5B4, 24px 36px #9CA5B4, 25px 37.5px #9CA5B4, 26px 39px #9CA5B4, 27px 40.5px #9CA5B4, 28px 42px #9CA5B4, 29px 43.5px #9CA5B4, 30px 45px #9CA5B4, 31px 46.5px #9CA5B4, 32px 48px #9CA5B4, 33px 49.5px #9CA5B4, 34px 51px #9CA5B4, 35px 52.5px #9CA5B4, 36px 54px #9CA5B4, 37px 55.5px #9CA5B4, 38px 57px #9CA5B4, 39px 58.5px #9CA5B4, 40px 60px #9CA5B4, 41px 61.5px #9CA5B4, 42px 63px #9CA5B4, 43px 64.5px #9CA5B4, 44px 66px #9CA5B4, 45px 67.5px #9CA5B4, 46px 69px #9CA5B4, 47px 70.5px #9CA5B4, 48px 72px #9CA5B4, 49px 73.5px #9CA5B4, 50px 75px #9CA5B4, 51px 76.5px #9CA5B4, 52px 78px #9CA5B4, 53px 79.5px #9CA5B4, 54px 81px #9CA5B4, 55px 82.5px #9CA5B4, 56px 84px #9CA5B4, 57px 85.5px #9CA5B4, 58px 87px #9CA5B4, 59px 88.5px #9CA5B4, 60px 90px #9CA5B4, 61px 91.5px #9CA5B4, 62px 93px #9CA5B4, 63px 94.5px #9CA5B4, 64px 96px #9CA5B4, 65px 97.5px #9CA5B4, 66px 99px #9CA5B4, 67px 100.5px #9CA5B4, 68px 102px #9CA5B4, 69px 103.5px #9CA5B4, 70px 105px #9CA5B4, 71px 106.5px #9CA5B4, 72px 108px #9CA5B4, 73px 109.5px #9CA5B4, 74px 111px #9CA5B4, 75px 112.5px #9CA5B4, 76px 114px #9CA5B4, 77px 115.5px #9CA5B4, 78px 117px #9CA5B4, 79px 118.5px #9CA5B4, 80px 120px #9CA5B4, 81px 121.5px #9CA5B4, 82px 123px #9CA5B4, 83px 124.5px #9CA5B4, 84px 126px #9CA5B4, 85px 127.5px #9CA5B4, 86px 129px #9CA5B4, 87px 130.5px #9CA5B4, 88px 132px #9CA5B4, 89px 133.5px #9CA5B4, 90px 135px #9CA5B4, 91px 136.5px #9CA5B4, 92px 138px #9CA5B4, 93px 139.5px #9CA5B4, 94px 141px #9CA5B4, 95px 142.5px #9CA5B4, 96px 144px #9CA5B4, 97px 145.5px #9CA5B4, 98px 147px #9CA5B4, 99px 148.5px #9CA5B4, 100px 150px #9CA5B4;
  }
  100% {
    text-shadow: none;
  }
}
